bin/
obj/
ipch/
.vs/
*.pdb
_ReSharper*
*.exe
*.exe.*
*.user
*.userprefs
*.suo
*.tmp_proj
/Output
/Release
/Release64
Vixen 3*
Vixen.sdf
Vixen.opensdf
/Vixen.VC.opendb
/Vixen.VC.VC.opendb
/Vixen.VC.db
Debug64
Debug
*.psess
*.vspx
*.vsps
